/* :root{ font-size: 2rem;}
@media(min-width: 300px){:root {font-size: .8rem;}}
@media(min-width: 600px){:root {font-size: 1rem;}}
@media(min-width: 900px){:root {font-size: 1.5rem;}}
@media(min-width: 1200px){:root {font-size: 1.7rem;}} */

.letter{
    display: inline-block;
    line-height: 1em;
}
